# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# VSCode
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
Desktop.ini

# Migrations
# keep __init__.py
**/migrations/*
!**/migrations/__init__.py